body {
  background-color: hsl(199, 100%, 41%); /* Base gray color */
  background: linear-gradient(
    to right,
    hsl(200, 20%, 70%) 0%,
    hsl(200, 20%, 95%) 50%,
    hsl(200, 20%, 70%) 100%
  );
  margin: center;
}
